<div class="col-md-1">
<nav id="nav" class="navbar is-dark" role="navigation" aria-label="main navigation">

    <%
        if (session.connected) { %>

    <!-- start img profil-->
    <div class="navbar-brand">
        <a class="navbar-item" href="/profil">
            <!-- lien-->
            <img src="../velasquez-philippe-iv-1628.jpg" width="112" height="100">
        </a>
        <p><%= session.pseudo %> </p>
        <p>Aventurier débutant</p>

    </div>

    <%  }else{ %>

    <div class="navbar-brand">
        <a class="nav-link active" aria-current="page" href="/login_page">Connexion</a>
    </div>
    <% } %>
    <!-- end img profil -->

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <%
            if (session.connected) { %>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/profile">Mon profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts/">Mes contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mes personnages</a>
            </li>
            <%  } %>
            <li class="nav-item">
                <a class="nav-link " href="/" tabindex="-1" aria-disabled="true">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Forum</a>
            </li>
            <%
            if (session.connected) { %>
            <li class="nav-item">
                <a class="nav-link btn-disagree" href="/disconnect">Déconnexion</a>
            </li>
            <%  } %>
        </ul>
    </div>

 </nav>
 </div>
