<!DOCTYPE html>

<html lang="fr" >
    <head>
    <meta charset="utf-8" />
    <title>Acceuil</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>


    <div class="container">
    <div class="row">
        <%- include('navbar.ejs'); %>

      <div class="col-xl">
        <div class="card">
    <form method="post" action="/recherche" autocomplete="on">
      <div class="mb-3">
        <label class="col-form-label">Mots clé de la recherche</label>
        <input type="text" name="saisie" class="form-control" >
        <label  for="Systeme">Rechercher dans : </label>
          <select class="form-select" name="dans" aria-label="Default select example">
              <option value="Titre">Titre</option>
              <option value="Auteur">Auteur</option>
              <option value="Description">Description</option>
          </select>
      </div>
      <div class="form-check">
        <div class="text-zone">
        <p class="text-yellow"><b>Caracteristiques de la partie </b></p>

            <p><b>Genre</b></p>
            <input type="checkbox" name="carac[]" id = "Fantasy"value="10">
            <label class="form-ckeck-label" for="Fantasy">Fantasy </label>
            <input type="checkbox" name="carac[]" id="Sci-fi"value="11">
            <label class="form-ckeck-label" for="Sci-fi">Sci-fi </label>
            <input type="checkbox" name="carac[]" id="CyberPunk"value="12">
            <label class="form-ckeck-label" for="CyberPunk">CyberPunk</label>

            <hr/>
            <p><b>Joueurs</b></p>
            <input type="checkbox" name="carac[]" id = "debutant" value="Accepte les débutants" >
            <label class="form-ckeck-label" for="debutant">Débutant </label>
            <input type="checkbox" name="carac[]" id="expert"value="Expert">
            <label class="form-ckeck-label" for="expert">Expert</label>
            <input type="checkbox" name="carac[]" id="exigeant"value="Exigeant">
            <label class="form-ckeck-label" for="exigeant">"Exigeant</label>
            <hr/>
            <p><b>Type de partie</b></p>
            <input type="checkbox" name="carac[]" id = "Rapide"value="Rapide" >
            <label class="form-ckeck-label" for="Rapide">Rapide </label>
            <input type="checkbox" name="carac[]" id="longue"value="Longue">
            <label class="form-ckeck-label" for="longue">Longue </label>
            <input type="checkbox" name="carac[]" id="difficile"value="Difficile">
            <label class="form-ckeck-label" for="difficile">"Difficile</label>
    </div>

    </div>

    <input type="submit" class="btn btn-primary" name="submit" value="recherche">
    </form>
    </div>
    </div>
    </div>
    </div>
</body>
</html>
