body{
    background-image: url("background.jpg");
}
#nav{
    background-color:#fcf1de;
}

h5{
    color: black;
}

h6{
    color: black;
}

label{
    margin-left: 10px;
}

.col-md-1{
    background-color: #fcf1de;
    width: 20%;
    margin-right: 10px;
}

.nav-item{
    margin-bottom: 10px;
}

.nav-link-1{
    background-color: black ;
    border-radius: 12px ;
    color: #c87f00;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.nav-link-2{
    background-color: black ;
    border-radius: 12px ;
    color: #fcf1de;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.nav-link-3{
    background-color: #de0202 ;
    border-radius: 12px ;
    color: whitesmoke ;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.btn-agree{
    background-color: forestgreen ;
    border-radius: 12px ;
    color: whitesmoke ;
    margin: 2px;
    padding: 4px;
    text-align: center;
}

.btn-disagree{
    background-color: #de0202;
    border-radius: 12px ;
    color: whitesmoke ;
    margin: 2px;
    padding: 4px;
    text-align: center;
}

.btn-progress{
    background-color: #161111 ;
    border-radius: 12px ;
    color: #c87f00 ;
    margin: 2px;
    padding: 4px;
    text-align: center;
}

.btn-contact{
    background-color: #161111;
    border-radius: 12px ;
    color: #c87f00 ;
    margin: 2px;
    padding: 4px;
    text-align: center;
}

.btn-search{
    background-color: #161111 ;
    border-radius: 12px ;
    color: forestgreen;
    margin: 2px;
    padding: 4px;
    text-align: center;
}

.btn-default{
    background-color: #161111 ;
    border-radius: 12px ;
    color: whitesmoke;
    margin: 2px;
    padding: 4px;
    text-align: center;
}

.progress-bar{
    background-color: orange;
}

.text-zone{
    background-color: whitesmoke;
    border-radius: 12px;
    width: 50%;
    margin: 5px;
    color: black;
}

.form-select{
    width: 50%;
}

.card-white{
    background-color: darkgrey;
    color: whitesmoke;
    border-radius: 12px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.card-black{
    background-color: darkgrey;
    color: black;
    border-radius: 12px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.black-background{
    background-color: #2f2a2a;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 10px;
}

.grey-background{
    background-color: darkgrey;
    color: white;
    border-radius: 12px;
    padding: 10px;
    margin-left: 10px;
}
