body{
    background-image: url("background.jpg");
}
.container{
    max-width: none;
}

.col-md-1{
    background-color: #fcf1de;
    width: 15%;
}

.navbar-nav .nav-link{
    background-color: black ;
    border-radius: 12px ;
    color: yellow ;
    margin: 2px;
    padding: 10px;
    text-align: center;
}

.btn-agree{
    background-color: green ;
    border-radius: 12px ;
    color: white ;
    margin: 2px;
    padding: 4px;
    text-align: center;
}

.btn-disagree{
    background-color: red ;
    border-radius: 12px ;
    color: white ;
    margin: 2px;
    padding: 4px;
    text-align: center;
}

.btn-progress{
    background-color: black ;
    border-radius: 12px ;
    color: orange ;
    margin: 2px;
    padding: 4px;
    text-align: center;
}

.btn-contact{
    background-color: black ;
    border-radius: 12px ;
    color: yellow ;
    margin: 2px;
    padding: 4px;
    text-align: center;
}

.progress-bar{
    background-color: orange;
}

.text-zone{
    background-color: white;
    border-radius: 12px;
    width: 50%;
    margin: 3px;
    color : black;
}

.form-select{
    width: 50%;
}

.card{
    background-color: darkgrey;
    color: white;
    border-radius: 12px;
}
.bg-secondary{
    background-color: darkgrey;
    color: white;
    border-radius: 12px;
    margin-bottom: 10px;
}
